* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: helvetica, sans-serif;
	font-size:16px;
	line-height:1.2;
}

section {
	padding:4em 0;
}
section#splash {
	background-image: url(../images/landing_page_final.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	color: #e8f0ea;
	font-size:4em;
	height:90vh;
}
h1 {
	padding-left: 100px;
}



