body {
	background-image: url(file://localhost/Users/olivia_bryant/Desktop/oliviabryant.github.io/unit_3/images/landing_page_final.jpg);
	background-size: 1350px 894px;
	background-repeat: no-repeat;
	margin-left: 1.5cm;
}

h1, #slogan {
	font-family: optima, sans-serif; 
	color: #e8f0ea;
}

#slogan {
	font-size: .1.5em;
}

section {
	font-family: helvetica, sans-serif;
	font-size: 0.8;
}




